.venv/
*.kicad_prl
*-backups/
fp-info-cache
.history/
projet-erc.rpt
projet-drc.rpt
imports/
shield-erc.rpt
shield-drc.rpt
__pycache__/
devkit_c2000_A_F280037-erc.rpt
devkit_c2000_B_F28P551-erc.rpt
devkit_c2000_A_F280037-drc.rpt
devkit_c2000_B_F28P551-drc.rpt
